body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "BreveSans";
  src: local("BreveSans"),
    url("./fonts/BreveSans/BreveSans-Title-Medium.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "BreveSansBlack";
  src: local("BreveSans"),
    url("./fonts/BreveSans/BreveSans-Title-Black.otf") format("truetype");
  font-weight: normal;
}
